@import "./toolbox/theme.css";

html {
  margin: 0;
}

#root {
  background-color: pink;
  height: 100vh;
  margin: 0;
}
.page-container {
  background-color: pink;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: grey;
  width: 50%;
  height: 50%;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.word {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
